/*  ======= font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Passions+Conflict&display=swap');



body {
  background: var(--color-bg1);
}


.event {
  background: var(--color-bg1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 h2 {
  margin: 10rem auto 2rem;
  text-align: center;
}

/* style.css */
/* style.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  background-color: #fff;
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

.card-detail .btn-detail {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.card-detail .btn-detail:hover {
  background-color: #0056b3;
}

.card-detail .popup {
  display: none;
}





.calendar {
    font-family: Arial, sans-serif;
    border: 1px solid var(--color-bg1);
    max-width: 300px;
    margin: 3rem auto;
  }
  
  .month {
    background-color: var(--color-bg1);
    text-align: center;
    padding: 10px;
  }
  
  .weekdays {
    display: flex;
    background-color: var(--color-bg1);
    font-weight: bold;
  }
  
  .weekdays div {
    width: calc(100% / 7);
    text-align: center;
    padding: 10px;
  }
  
  .days {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .day {
    width: calc(100% / 7);
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .day:hover {
    background-color: #ddd;
  }


  .special-day {
    background-color: #ffcc66;
    font-weight: bold;
  }

  .late {
    opacity: 0.5;
  }
  
  /* .special-day::before {
    content: "Hari H";
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
  } */
  
  
  @media only screen and (min-width: 768px) {
    .calendar {
      max-width: 600px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .calendar {
      max-width: 900px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .calendar {
      max-width: 1200px;
    }
  }
  